<h1>Produtos</h1>
<div>
{{#each products}}
<img src="../img/{{this.file1}}" alt="" class="foto">
<h2>{{this.title}}</h2>
<h3>{{this.price}}</h3>
{{/each}}
<a href="/insert-products">inserir produto</a>
<a href=""></a>

</div>