<form action="/insert-cor" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{product.id}}">
    <input type="color" name="color">
    <input type="file" name="img">
    <input type="submit" value="Adicionar">
</form>